@charset "UTF-8";
/* ----- Grundstil för webbsidan ----- */

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;

}

body {
	height: 100%;
    background-color: #ddffdf;
    font-family: 'Times New Roman', Times, serif;
	display: grid;
	grid-template-columns: auto minmax(100px,900px) auto;
	grid-template-rows: min-content auto min-content;
	grid-template-areas:
		".	    header	."
		".	    main	."
		"footer	footer	footer";
}

header {
	grid-area: header;
	background-color: rgb(159, 255, 155);
	margin-bottom: 10px;
}
header h1 {
	background-color:#35f16d;
	color: #FFF;
}
header h1, header h2, header h3 {
	margin: 0;
	padding: 10px;
}

main {
	grid-area: main;
	padding: 10px;
}

a {
	color: rgb(211, 9, 9);
}

a:hover, a:active {
	background-color: rgb(255, 255, 255);
}

button {
	background-color: rgb(0, 255, 0);
	font-size: 1em;
}
button:hover {
	background-color: rgb(189, 255, 180);
}

